body {
    font-size: 1em;
    font-size: var(--text-base-size);
    font-family: Questrial, sans-serif;
    font-family: var(--font-display);
    color: var(--color-text);
    line-height: 1
}

.navbar-logo {
    font-family: Oleo Script Swash Caps, cursive;
    font-size: 2em;
    background: linear-gradient(79deg, #e590fa, #e204ff 50%, #af4bb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent
}

@media (max-width:768px) {
    body header .navbar-logo {
        color: #000;
        -webkit-text-fill-color: inherit;
        text-fill-color: inherit
    }
}

@media (max-width:600px) {
    body header .navbar-logo {
        color: #000;
        -webkit-text-fill-color: inherit;
        text-fill-color: inherit
    }
}

.navbar-wrapper {
    display: -webkit-box;
    display: flex;
    font-size: .9em;
    font-weight: 700
}

.navbar-wrapper li {
    margin: 0 1.5em
}

@media (max-width:600px) {
    body header .navbar-links .navbar-wrapper li:first-of-type {
        margin-left: 0
    }
}

@media (max-width:600px) {
    body header .navbar-links {
        margin-top: 1em
    }
}

.navbar-links-social {
    position: relative;
    z-index: 1
}

.navbar-links-social img {
    width: 25px;
    margin: 0 .2em;
    -webkit-filter: invert(1);
    filter: invert(1);
    -webkit-transition: .4s;
    transition: .4s
}

.navbar-links-social img:hover {
    -webkit-filter: invert(0);
    filter: invert(0)
}

@media (max-width:600px) {
    body header .navbar-links-social {
        margin-top: 1em
    }
    body header .navbar-links-social img {
        -webkit-filter: none;
        filter: none
    }
}

section.hero {
    display: -webkit-box;
    display: flex
}

@media (max-width:600px) {
    body section.hero {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse
    }
}

.hero-illustration, .hero-intro {
    -webkit-box-flex: 1;
    flex: 1
}

.hero-illustration {
    position: relative;
    top: -142px
}

@media (max-width:600px) {
    body section.hero .hero-illustration {
        top: -225px
    }
}

@media (max-width:768px) {
    body section.hero .hero-illustration {
        top: -225px
    }
}

.coder {
    position: absolute;
    width: 500px;
    bottom: 115px;
    right: 10px;
    z-index: 1
}

@media (max-width:768px) {
    body section.hero .hero-illustration .coder {
        right: 0;
        bottom: 0
    }
}

@media (max-width:600px) {
    body section.hero .hero-illustration .coder {
        right: 0;
        bottom: 0;
        width: 80%
    }
}

.coder-background {
    position: relative;
    z-index: 0;
    left: 25%
}

@media (max-width:768px) {
    body section.hero .hero-illustration .coder-background {
        left: 0
    }
}

.hero-intro {
    margin-top: 5em;
    word-spacing: 2px;
    color: #4f4f4f
}

.hero-intro a, .project-description a{
    background: linear-gradient(79deg, #e590fa, #e204ff 50%, #af4bb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-weight: 700
}

@media (max-width:768px) {
    body section.hero .hero-intro a {
        color: #4f4f4f;
        -webkit-text-fill-color: inherit;
        text-fill-color: inherit
    }
}

.hero-intro a:hover {
    text-decoration: underline
}

@media (max-width:768px) {
    body section.hero .hero-intro {
        width: 80%;
        position: absolute;
        z-index: 1;
        margin-top: 1em;
        margin-left: 10%
    }
}
@media (max-width:600px) {
    body section.hero .hero-intro {
        position: relative;
        width: 80%;
        top: -150px;
        margin: auto
    }
}

.hero-intro h1, .hero-intro h2, .hero-intro p {
    line-height: 1.5
}

.hero-intro p {
    width: 80%;
    font-size: 1em;
    margin: 1.5em 0
}

@media (max-width:768px) {
    body section.hero .hero-intro p {
        width: 60%
    }
}

@media (max-width:600px) {
    body section.hero .hero-intro p {
        width: 100%
    }
}

a, article, body, div, footer, form, h1, h2, h3, h4, h5, h6, header, html, img, li, mark, nav, p, section, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

footer, header, nav, section {
    display: block
}

.btn {
    border: none;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin: 0
}

.btn:active {
    top: 1px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
}

p {
    font-family: Questrial, serif;
    font-family: var(--font-paragraph);
    color: #727272;
    color: var(--font-paragraph-color);
    line-height: 1.4;
    line-height: var(--body-line-height)
}

.text--xxl, h1 {
    font-size: 2.0736em;
    font-size: var(--text-xxl)
}

.text--xl, h2 {
    font-size: 1.728em;
    font-size: var(--text-xl)
}

.text--lg, h3 {
    font-size: 1.44em;
    font-size: var(--text-lg)
}

.text--md, h4 {
    font-size: 1.2em;
    font-size: var(--text-md)
}

body, html {
    scroll-behavior: smooth
}

body {
    width: 80%;
    margin: auto;
    font-smooth: always;
    font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased
}

@media (max-width:768px) {
    body {
        width: 100%
    }
}

body .text-highlight {
    display: inline;
    line-height: 0;
    border-radius: .25em;
    color: #000;
    background-repeat: no-repeat;
    background-size: 125% 100%;
    padding: 20px 0;
    background-position: 48%
}

body button {
    cursor: pointer;
    border-radius: 2px;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
    margin: 0;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    border-radius: 1em;
    color: #fff;
    background-color: #b646d1;
    min-width: 9em;
    min-height: 2em;
    -webkit-text-fill-color: #fff;
    text-fill-color: #fff;
    position: relative;
    z-index: 1
}

body button:hover {
    background-color: #830c9b
}

body button:focus {
    background-color: #a317be
}

body button:disabled {
    background-color: #bfbfbf
}

@media (max-width:768px) {
    body button {
        color: #ffffff;
        background: #fff;
        border-color: black;
        -webkit-text-fill-color: #b646d1;
    }
}

body header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 50px 0
}

@media (max-width:768px) {
    body header {
        width: 80%;
        margin: auto
    }
}

@media (max-width:600px) {
    body header {
        flex-wrap: wrap
    }
}

a {
    color: var(--color-link);
    text-decoration: none
}

a:visited {
    color: var(--color-link-visited)
}

:root {
    --font-display: "Questrial", sans-serif;
    --font-paragraph: "Questrial", serif;
    --font-paragraph-color: #727272;
    --color-text-heading: #4f4f4f;
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --text-xs: calc(1em/var(--text-scale-ratio)*var(--text-scale-ratio));
    --text-sm: calc(1em/var(--text-scale-ratio));
    --text-md: calc(1em*var(--text-scale-ratio));
    --text-lg: calc(1em*var(--text-scale-ratio)*var(--text-scale-ratio));
    --text-xl: calc(1em*var(--text-scale-ratio)*var(--text-scale-ratio)*var(--text-scale-ratio));
    --text-xxl: calc(1em*var(--text-scale-ratio)*var(--text-scale-ratio)*var(--text-scale-ratio)*var(--text-scale-ratio));
    --text-xxxl: calc(1em*var(--text-scale-ratio)*var(--text-scale-ratio)*var(--text-scale-ratio)*var(--text-scale-ratio)*var(--text-scale-ratio));
    --heading-line-height: 1.2;
    --body-line-height: 1.4
}

@media (max-width:768px) {
    :root {
        --text-base-size: 1.2em;
        --text-scale-ratio: 1.2
    }
}

section.skill-set {
    display: -webkit-box;
    display: flex
}
@media (max-width:768px) {
    body section.skill-set {
        margin-top: 3em;
        margin-bottom: 3em
    }
}

.skill-set-content {
    width: 100%
}

@media (max-width:768px) {
    body section.skill-set .skill-set-content {
        width: 80%;
        margin: auto
    }
    body section.skill-set .skill-set-content h2 {
        margin-bottom: 2em
    }
}

.skill-set-content p {
    margin-top: 1em;
    line-height: 1.8
}

.skill-set-content h4 {
    margin-top: 1em;
    font-weight: 700
}

.skill-set-items-wrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    position: relative
}

.skill-set-item {
    width: 40%;
    margin: 5%
}

@media (max-width:600px) {
    body section.skill-set .skill-set-item {
        width: 90%;
        margin-top: 2em;
        margin-bottom: 2em
    }
}

.skill-logos {
    margin-top: 10px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.skill-logos a.logo {
    cursor: pointer
}

.skill-logos .logo {
    padding: 6px;
    border: 1px solid rgba(180, 53, 205, 0.812);
    border-radius: 38% 62% 57% 43%/43% 50% 50% 57%;
    margin: 3px;
    display: -webkit-box;
    display: flex;
}

.skill-logos .logo:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    background: rgba(180, 53, 205, 0.212);
    border: 1px solid rgba(226, 3, 255, 0.212)
}

.skill-logos img {
    width: 25px;
    height: 25px
}

.skill-set-illustration-wrapper {
    position: relative;
    width: 50%
}

@media (max-width:768px) {
    body section.skill-set .skill-set-illustration-wrapper {
        width: 0;
        left: -13%
    }
}

.skill-set-icon {
    padding: .3em;
    background: #D896FF;
    height: 3em;
    width: 3em;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    box-shadow: inset 0 0 8px rgba(67, 67, 67, .28);
    border-radius: 38% 62% 57% 43%/43% 50% 50% 57%;
    -webkit-animation: morph 6s ease-in-out infinite alternate both;
    animation: morph 6s ease-in-out infinite alternate both
}

.skill-set-icon .icon {
    height: 3.5em;
    width: 3.5em
}

body section.skill-set .circle {
    width: 13em;
    height: 13em;
    border-radius: 100%;
    background: #D896FF;
    left: -15em;
    top: -4.5em;
    position: absolute
}

.skill-set-illustration img {
    height: 50em;
    position: relative;
    left: -36%;
    top: -5%
}

@media (max-width:768px) {
    body section.skill-set .skill-set-illustration img {
        height: 30em;
        top: 7em;
        opacity: .2
    }
}

.text--sm, small {
    font-size: .83333em;
    font-size: var(--text-sm)
}

section.projects {
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative
}

section.projects h2 {
    margin-bottom: 2em
}

@media (max-width:768px) {
    body section.projects {
        width: 80%;
        margin: 10em auto auto
    }
}

section.projects .project {
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: flex;
    width: 55%;
    margin-left: 5em;
    margin-bottom: 5em
}

@media (max-width:768px) {
    body section.projects .project {
        width: 100%;
        margin-left: 1em;
        margin-bottom: 2em
    }
}

@media (max-width:600px) {
    body section.projects .project {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        display: -webkit-box;
        display: flex;
        margin: 3.5em auto 3.5em 5%
    }
}

body section.projects .project:nth-of-type(3) {
    margin-left: 15em
}

@media (max-width:768px) {
    body section.projects .project:nth-of-type(3) {
        margin-left: 1em
    }
}

@media (max-width:600px) {
    body section.projects .project:nth-of-type(3) {
        margin: 3.5em auto 3.5em 5%
    }
}

section.projects .project img {
    border-radius: 18px;
    border: 0;
    box-shadow: none;
    width: 200px;
    margin-right: 2em;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025)
}

@media (max-width:600px) {
    body section.projects .project img {
        margin: 0
    }
}

.project-details {
    padding-top: 1.5em
}

@media (max-width:768px) {
    body section.projects .project .project-details {
        padding-top: 0
    }
}

@media (max-width:600px) {
    body section.projects .project .project-details {
        padding-top: 1em;
        width: 90%
    }
}

.project-name {
    font-size: 1.44em;
    font-size: var(--text-lg);
    margin-bottom: .5em;
    font-weight: 700;
    color: #4f4f4f
}

.project-description {
    line-height: 1.8em;
    font-size: .83333em;
    font-size: var(--text-sm);
    color: #727272;
    color: var(--font-paragraph-color)
}

.ring-wrapper {
    position: absolute;
    height: 35em;
    width: 35em;
    display: -webkit-box;
    display: flex;
    top: 33%;
    left: -45%;
    align-self: center
}

@media (max-width:768px) {
    body section.projects .ring-wrapper {
        opacity: .2;
        height: 30em;
        width: 30em
    }
}

@media (max-width:600px) {
    body section.projects .ring-wrapper {
        height: 15em;
        width: 15em
    }
}

.circle-outer {
    background: #D896FF;
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

.circle-inner {
    width: 60%;
    height: 60%;
    position: relative;
    background: #fff;
    border-radius: 100%
}

.text-highlight {
    background-image: url(assets/brush_stroke.svg);
    background-position-x: 48%;
    background-position-y: center;
    background-size: 125% 100%;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

section.blog {
    margin-top: 10em;
    position: relative
}

.blog-title {
    font-weight: 700;
    margin-bottom: .5em
}

.blog-posts {
    position: relative;
    z-index: 1;
    height: 32em;
    padding-top: 6em
}

@media (max-width:600px) {
    body section.blog .blog-posts {
        height: auto;
        padding-top: 0
    }
}

@media (max-width:768px) {
    body section.blog .blog-posts {
        width: 80%;
        margin: auto
    }
}

.blog-posts h2 {
    margin-bottom: 1em
}

.article-wrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.blog-description {
    font-size: .83333em;
    font-size: var(--text-sm)
}

.blog-post-illustration {
    height: 50em;
    position: absolute;
    right: -12.5%;
    top: 0
}

@media (max-width:600px) {
    body section.blog .blog-post-illustration {
        bottom: 0;
        top: auto;
        opacity: .2
    }
}

@media (max-width:768px) {
    body section.blog .blog-post-illustration {
        right: 0
    }
}

article {
    width: 35%;
    cursor: pointer;
    background: #fff;
    margin: 1%;
    padding: 1.5% 4%;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .1), 0 -6px 16px -6px rgba(0, 0, 0, .01);
    border-radius: 4px;
    border: 2px solid transparent;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    min-height: 7em;
    -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
    transition-property: color, background-color, box-shadow, -webkit-transform;
    transition-property: color, background-color, box-shadow, transform;
    transition-property: color, background-color, box-shadow, transform, -webkit-transform
}

@media (max-width:768px) {
    body section.blog article {
        width: 38%
    }
}

@media (max-width:600px) {
    body section.blog article {
        margin: .5em;
        width: 80%
    }
}

article:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-border-image: linear-gradient(79deg, #e590fa, #e204ff 50%, #af4bb8) 1 100%;
    -o-border-image: linear-gradient(79deg, #e590fa, #e204ff 50%, #af4bb8) 1 100%;
    border-image: linear-gradient(79deg, #e590fa, #e204ff 50%, #af4bb8) 1 100%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .1), 0 18px 36px -18px rgba(0, 0, 0, .1), 0 -12px 36px -8px rgba(0, 0, 0, .01)
}

.circle {
    width: 13em;
    height: 13em;
    border-radius: 100%;
    background: #D896FF;
    right: 5em;
    position: absolute;
    bottom: 0
}

@media (max-width:768px) {
    body section.blog .circle {
        right: 13em;
        opacity: .2
    }
}

@media (max-width:600px) {
    body section.blog .circle {
        display: none
    }
}

footer {
    width: 70%;
    height: 10em;
    max-height: 10em;
    position: relative
}
@media (max-width:768px) {
    body footer {
        width: 80%;
        margin: auto
    }
}

@media (max-width:600px) {
    body footer {
        padding-top: 30px
    }
}

footer h2 {
    margin-bottom: 1em
}

@media (max-width:768px) {
    body footer h2 {
        font-size: 1em;
        position: relative;
        z-index: 1
    }
}